body{
    background-image: url('images/bgimage.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 660px;
    background-size: cover;
    position: relative;
}

/*
.bgimg{
    background-image: url('images/bgimage.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 660px;
    background-size: cover;
    position: relative;
}*/
h1 , p{
    font-family: 'Times New Roman', Times, serif;
}
.logo{
    height: 12ex;
  
}


.headerset{
    padding-top: 170px;
    box-sizing: border-box;

    position: relative;
  animation-name: mymove;
  animation-duration: 7s;
}
@keyframes  mymove {
    from {top: -250px;}
    to {top: 0px;}
  }

.headerset h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;    
}
.headerset h1{
    font-size: 40px;
    font-weight: bold;

}
/**************************about*******************************/

#about{
    font-weight: bold;
    text-align: center;

    padding-top: 6ex;
}
.about{

    margin-top: 22ex;
    background-color: #000000ba!important;
}

/**************************gallery*******************************/
#gallery{
    padding-top: 15ex;
    background-color:#524747a3!important;
    padding-bottom: 20ex;
    
}

/**************************contact*******************************/
.form{
    font-family: 'Times New Roman', Times, serif;
    
}
.topbtn a{
    color: #afacac;
    
}
/**************************************/



.rounded-social-buttons {
    text-align: center;
    padding-right: 3ex; 
  }
  
  .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
      
    padding: 2ex;
  }
  